*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


.container {
    background-color: #0868bd;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end; 
  gap: 30px;
  
}
.burbuja {
    position: absolute;
    bottom: -50px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    pointer-events: none;
    animation: subir 8s linear infinite;

}

@keyframes subir {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateY(-120vh) scale(1.5);
        opacity: 0;
    }
}


.character {
  position: relative;
  text-align: center;
}

.character img {
  height: 85vh; 
  max-height: 100%; 
  filter: grayscale(100%);
  transition: filter 0.25s ease;
  cursor: pointer;
}

.character:hover img {
  filter: none;
}

/* Tarjeta fija sobre el personaje */
.card {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.95);
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 180px;
}

.character:hover .card {
  opacity: 1;
}


