.contenedor{
    width: 600px;
height: 400px;
position: relative;
background-image: url(fondo.jpg);
margin: 0% auto;
overflow: hidden;
animation: fondo 6s  infinite linear;

}

@keyframes fondo{
100%{
    background-position-x: -1392px;
}
} 


.llanta1{
    position: absolute;
    position: absolute;
    left: 246px;
    top: 260px;
    animation: llanta1 1s infinite linear;
}

.llanta2{
    position: absolute;
    left: 70px;
    top: 65%;
    animation: llanta2 1s infinite linear ;
}

@keyframes llanta1{ 

0%{
    top:260px;
    transform : rotate(180deg);
}

20%{
    top: 255px;
    
}

40%{
    top: 250px;
    
}


}


@keyframes llanta2{ 


    0%{
        top:260px;
        transform : rotate(180deg);
    }
    
    20%{
        top: 255px;
    }
    
    40%{
        top: 250px;
    }
    
    }



.carro{
    position: absolute;
left: 50px;
top: 150px;
animation: carro 0.6s infinite linear ;

}

@keyframes carro{ 


    0%{
        top:150px;

    }
    
    20%{
        top: 160px;
    }
    
    40%{
        top: 140px;
    }
    
    }

.humo{
    position: absolute;
    width: 130px;
    height: 48px;
    background-image: url(humo.png);
    top: 320px;
    left: 0.2px;
    animation: humo 1s steps(5) infinite;
}

@keyframes humo{
    100%{
        background-position-x: -650px;
    }
}


.bolaheno{
    width: 50%;
    position: absolute;
    top: 240px;
    left: 510px;
    z-index: 3;
    animation: bolaheno 5s infinite linear;

}

@keyframes bolaheno{
    70%{
        left: 510px;
        transform: rotate(0deg);
        top: 140px;
    }

    70%{
        top: 120px;
    }

    70%{
        top: 140px;
    }

    100%{
        left: -150px;
        transform: rotate(-300deg);
    }
}