body {
  background-color: #699f93;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.contenedor {
  top: 20px;
  overflow: hidden;
  position: relative;
  width: 1200px;
  height: 540px;
  margin: 0 auto;
  background-image: url(IMG/FONDO4.svg);
  background-size: cover;
}

#puerta{
  position: absolute;
    width: 100px;
    height: 100px;
    top: 280px;
    left: 704px;
    z-index: 4;
}
#uno, #dos, #tres, #cuatro, #cinco, #seis{
    z-index: 4;
    cursor: pointer;
    transition: 0.3s;
    transform-box: content-box;
    transform-origin: center;
    &:hover{
      transform: rotate(5deg) scale(1.1);
      filter: drop-shadow(1px 1px 3px rgba(184, 238, 248, 0.806));
    }
}

.personaje {
    width: 100%;
    height: 105%;
    right: 1400px;

}

#personaje{
    width: 213px;
    height: 210px;
    position: absolute;
    cursor: pointer;
    bottom: 27px;
    right: 260px;
    z-index: 3;
}

#cangrejo{
  position: absolute;
  width: 342px;
  height: 232px;
  top: 310px;
  left: 820px;
}
#castillo{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#nubes{
  position: absolute;
  width: 100%;
  height: 100%;
}



.invisible-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
}
#btn-cangrejo {
  top: 470px;
  left: 850px;
  width: 75px;
  height: 70px;
}
#btn-castillo {
  width: 525px;
  height: 227px;
  top: 57px;
  left: 405px;
}

/* Bandera */
.bandera {
  position: absolute;
  top: 18%;      
  left: 74%;     
  width: 20px;
  height: 60px;
  background: #0a0101; 
  cursor: pointer;
  z-index: 5;
}

.bandera::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 40px;
  height: 25px;
  background: rgb(103, 133, 222);
  animation: ondear 2s infinite alternate ease-in-out;
  transform-origin: left;
}

@keyframes ondear {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(30deg); }
}

/* Luna */
.luna {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 80px;
  height: 80px;
  background: #fdfbd3;
  border-radius: 50%;
  box-shadow: 0 0 20px #fdfbd3;
  display: none; 
  z-index: 10;
}

/* Estrellas */
.estrella {
  position: absolute;
  background: white;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  opacity: 0;
  animation: brillar 2s infinite alternate;
  z-index: 8;
}

@keyframes brillar {
  0% { opacity: 0.2; transform: scale(1); }
  100% { opacity: 1; transform: scale(1.3); }
}

.ariel {
    width: 100%;
    height: 105%;
    right: 1400px;

}

#ariel {
    width: 113px;
    height: 340px;
    position: absolute;
    cursor: pointer;
    bottom: -10px;
    right: 580px;
    z-index: 3;
    rotate: 30%;
}

#ursula{
    width: 150px;
    height: 145px;
    position:absolute;
    cursor: pointer;
    bottom: -20px;
    left: 100px;
    z-index: 3;
}


.coral {
    width: 100%;
    height: 105%;
    right: 1000px;

}

#coral {
    width: 113px;
    height: 170px;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    right: 170px;
    z-index: 3;
}

#andri{
  position: absolute;
  width: 145px;
  height: 264px;
  top: 262px;
  left: 366px;
  z-index: 3;
}
#btn-andri{
  width: 100px;
  height: 184px;
  top: 298px;
  left: 383px;
  z-index: 3;
}

.pez3 {
    width: 53px;
    height: 55px;
    position: absolute;
    cursor: pointer;
    overflow: 10px;
    left: 10px;
    top: 90%;
}



#pez3 {
    animation: pez3 50s linear infinite;
}

@keyframes pez3 {
    0% {
        translate: 0 0;
        scale: 1 1;

    }

    49% {
        translate: 450px 0;
        scale: 1 1;
    }

    50% {
        translate: 450px 0;
        scale: -1 1;
    }

    99% {
        translate: 0 0;
        scale: -1 1;
    }

    100% {
        translate: 0 0;
        scale: 1 1;
    }
}