body{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.cabeza{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem;
}

.logo{
    display: flex;
    align-items: center;
    width: 25%;
}

.cuadroRojo{
    background-color: rgb(207, 70, 70);
    padding: 0.4rem;
    border-radius: 0.3rem;
    color: white;
}

nav{
    display: flex;
    gap: 2rem;
    margin: 3rem;
}

nav a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover{
    color:rgb(190, 48, 48);
}
.cabeza2{
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.texto{
    width: 30%;
    padding: 30px;
    background-color: #f05a5a;
    color: #fff;
}
.texto h2{
    margin-bottom: 20px;
}
.texto input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
.texto button{
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.imagen{
    width: 30%;
    height: 400px;
    position: relative;
}

.cabeza3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    width: 97%;
    background-color: rgb(252, 57, 57);
}

.card {
    width: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.card img {
    width: 80%;
    height: 200%;
    margin-bottom: 10px;
}

.titlee{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(252, 57, 57);
}

.cuatro{
    background-color: rgb(168, 164, 164);
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.tarjtetaa{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    height: 20rem;
}

.titulito{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(50, 71, 83);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(168, 164, 164);
    height: 5rem;
    padding: 1rem;
}

.carta{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    height: 15rem;
    width: 40%;  
}

.matas{
    width: 40%;
}

.rosa{
    color: rgb(218, 72, 56);;
}

.muchachorojo{
    display: flex;
    gap: 1rem;
    padding: 5%;
    
}

.cosas{
    display: flex;
    justify-content: center;
    color: rgb(20, 20, 73);
    font-family: Arial, Helvetica, sans-serif;
}

.descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botone{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(233, 49, 29);
    width: 20%;
    border-radius: 0.5rem;
    color: white;

}

.celular{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-hamburguesa{
    width: 50%;
    display: flex;
    justify-content: center;
}
.hamburguesa{
    width: 40%;
}

.descargar{
    color: rgb(50, 71, 83);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;

}

.tiendaree{
    display: flex;
    justify-content: center;
    gap: 1rem;

}
.tiendaree img{
    width: 20%;
}
.textoHamburguesa{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.siete{
    background-color: rgb(50, 71, 83);
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.info{
    width: 30%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: aliceblue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.navegar{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.ultimo{
    background-color: rgb(218, 72, 56);

}

.app{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}



@media screen and (max-width:500px) {
    .cabeza2{
        display: flex;
        flex-direction: column;
    }

    .logo{
        width: 30%;
    }

    .texto{
        display: flex;
        flex-direction: column;
    }

    .imagen{
        width: 60%;
    }

    .cabeza3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 120rem;
    }

    .card{
        display: flex;
        width: 100%;
    }

    .tarjtetaa{
        display:flex;
        flex-direction: column;
    }

    .carta{
        width: 90%;
        background-color: #fff;
    }

    .matas{
        width: 50%;
    }

    .muchachorojo{
        display: flex;
        flex-direction: column;
        height: 42rem;
    }

    .repar{
        width: 100%;
        gap: 1rem;
    }

    .descripcion{
        width: 100%;
        gap: 1rem;
    }

    .celular{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hamburguesa{
        width: 120%;
    }

    .info{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .navegar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
}


.card:hover{
    animation: card 0.3s forwards;
    }
    @keyframes card{
        100%{
            transform: rotate(-10deg);
    }
    }
