/* Estilos para el loader marino con burbujas */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #0077be 0%, #004d7a 50%, #002635 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1 s, visibility 0.1s;
}

.loader-container.active {
    opacity: 1;
    visibility: visible;
}

.ocean-loader {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bubble {
    position: absolute;
    bottom: -100px;
    background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.8), rgba(173, 216, 230, 0.4));
    border-radius: 50%;
    opacity: 0.7;
    animation: rise 8s infinite ease-in;
}

/* Burbujas de diferentes tamaños y posiciones */
.bubble:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 8s;
}

.bubble:nth-child(2) {
    width: 20px;
    height: 20px;
    left: 20%;
    animation-duration: 5s;
    animation-delay: 1s;
}

.bubble:nth-child(3) {
    width: 50px;
    height: 50px;
    left: 35%;
    animation-duration: 7s;
    animation-delay: 2s;
}

.bubble:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 50%;
    animation-duration: 11s;
    animation-delay: 0s;
}

.bubble:nth-child(5) {
    width: 35px;
    height: 35px;
    left: 55%;
    animation-duration: 6s;
    animation-delay: 1s;
}

.bubble:nth-child(6) {
    width: 45px;
    height: 45px;
    left: 65%;
    animation-duration: 8s;
    animation-delay: 3s;
}

.bubble:nth-child(7) {
    width: 25px;
    height: 25px;
    left: 70%;
    animation-duration: 9s;
    animation-delay: 2s;
}

.bubble:nth-child(8) {
    width: 60px;
    height: 60px;
    left: 80%;
    animation-duration: 12s;
    animation-delay: 4s;
}

.bubble:nth-child(9) {
    width: 55px;
    height: 55px;
    left: 90%;
    animation-duration: 10s;
    animation-delay: 0s;
}

.bubble:nth-child(10) {
    width: 30px;
    height: 30px;
    left: 25%;
    animation-duration: 7s;
    animation-delay: 2s;
}

/* Animación de las burbujas subiendo */
@keyframes rise {
    0% {
        bottom: -100px;
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        bottom: 1080px;
        transform: translateX(-200px);
    }
}

/* Mensaje en el loader */
.loader-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Playwrite NG Modern', cursive;
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 119, 190, 0.8);
    z-index: 10;
}